---
---

@import "{{ site.theme }}";

.main-content blockquote{
    border-left: 0.4rem solid #dce6f0;
}

.main-content code {
    font-weight: bold;
}

div.button-box {
    text-align: center;
    width: 100%;
}

.box {
    margin: 20px 10px 20px 10px;
    border-radius: 15px;
    padding: 20px;
}

span.box {
    display: block;
}

.warning {
    background-color: #FEC8BC;
    color: black;
}

.notes {
    background-color: #F9FBBF;
    color: black;
}


a.back-button {
    background-color: #155a95;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    text-align: center;
}
